@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hcelm-alert-fast {
  0% {
    background-color: #ffffff;
    color: #ff0033;
    border-color: #ff0033;
    box-shadow:
      0 0 10px #ff0033,
      0 0 24px #ff0033,
      0 0 42px rgba(255, 0, 51, 1);
    transform: scale(1);
  }

  50% {
    background-color: #ff0033;
    color: #ffffff;
    border-color: #ffffff;
    box-shadow:
      0 0 14px #ffffff,
      0 0 32px #ff0033,
      0 0 65px #ff0033,
      0 0 95px rgba(255, 0, 51, 1);
    transform: scale(1.15);
  }

  100% {
    background-color: #ffffff;
    color: #ff0033;
    border-color: #ff0033;
    box-shadow:
      0 0 10px #ff0033,
      0 0 24px #ff0033,
      0 0 42px rgba(255, 0, 51, 1);
    transform: scale(1);
  }
}

@keyframes hcelm-alert-medium {
  0% {
    background-color: #ffffff;
    color: #ff6a00;
    border-color: #ff6a00;
    box-shadow:
      0 0 10px #ff6a00,
      0 0 22px #ff6a00,
      0 0 40px rgba(255, 106, 0, 1);
    transform: scale(1);
  }

  50% {
    background-color: #ff6a00;
    color: #ffffff;
    border-color: #ffffff;
    box-shadow:
      0 0 14px #ffffff,
      0 0 30px #ff6a00,
      0 0 60px #ff6a00,
      0 0 88px rgba(255, 106, 0, 1);
    transform: scale(1.12);
  }

  100% {
    background-color: #ffffff;
    color: #ff6a00;
    border-color: #ff6a00;
    box-shadow:
      0 0 10px #ff6a00,
      0 0 22px #ff6a00,
      0 0 40px rgba(255, 106, 0, 1);
    transform: scale(1);
  }
}

@keyframes hcelm-alert-slow {
  0% {
    background-color: #ffffff;
    color: #000000;
    border-color: #fff200;
    box-shadow:
      0 0 10px #fff200,
      0 0 22px #fff200,
      0 0 40px rgba(255, 242, 0, 1);
    transform: scale(1);
  }

  50% {
    background-color: #fff200;
    color: #000000;
    border-color: #000000;
    box-shadow:
      0 0 14px #ffffff,
      0 0 30px #fff200,
      0 0 60px #fff200,
      0 0 88px rgba(255, 242, 0, 1);
    transform: scale(1.09);
  }

  100% {
    background-color: #ffffff;
    color: #000000;
    border-color: #fff200;
    box-shadow:
      0 0 10px #fff200,
      0 0 22px #fff200,
      0 0 40px rgba(255, 242, 0, 1);
    transform: scale(1);
  }
}

.animate-alert-fast {
  animation: hcelm-alert-fast 0.45s infinite;
}

.animate-alert-medium {
  animation: hcelm-alert-medium 0.75s infinite;
}

.animate-alert-slow {
  animation: hcelm-alert-slow 1.05s infinite;
}